<a href="https://colab.research.google.com/github/sierraperezdavid31/CIS9650-DC-Sales/blob/main/Group_Project_15.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Analysis of Washington DC Real Estate Sales

**Group 15 - Project 7**

**Team**
* Nusrat Akter
* Paven Oommen
* David Sierra Perez
* Katherine Terrell

December 15, 2025

# Executive Summarey

The Executive Summary will go here

# Table of Contents
1. Introduction
2.
3.
4.

# Problem Statement

The problem statement will go here

# Data Description

Data Description goes here

# Data Loading into Colab

In [ ]:
# Importing Libraries
import pandas as pd
import numpy as np

# Change the option to show the max amount of columns and rows
# Reference: https://bobbyhadz.com/blog/pandas-dataframe-set-number-of-max-rows
pd.set_option('display.max_columns', 100)
pd.set_option('display.max_rows', 100)

In [ ]:
# Getting the csv from google could
# Reference: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html

# The URL from Google Colab
url = "https://storage.googleapis.com/msba-online-data/CIS9650/Project%2007/DC.csv"

# Read the URL into a Dataframe
df = pd.read_csv(url)

# Data Cleaning/Preperation

In [ ]:
# We are going to see the first 5 rows of data to see if it loaded properly
df.head(5)

,state,property_zip5,property_street_address,property_city,property_county,property_id,sale_datetime,property_type,sale_price,seller_1_name,buyer_1_name,building_num_units,building_year_built,source_url,book,page,transfer_deed_type,property_township,property_lat,property_lon,sale_id,deed_date,building_num_stories,building_num_beds,building_num_baths,building_area_sqft,building_assessed_value,building_assessed_date,land_area_acres,land_area_sqft,land_assessed_value,seller_2_name,buyer_2_name,land_assessed_date,seller_1_state,seller_2_state,buyer_1_state,buyer_2_state,total_assessed_value,total_appraised_value,land_appraised_value,building_appraised_value,land_type
0,DC,20002.0,1 14TH ST NE # 1,WASHINGTON,WASHINGTON,285723.0,2013-10-24 00:00:00,NaN,399999,NaN,"RAOL, NEAHA P",NaN,NaN,https://opendata.dc.gov/datasets/integrated-ta...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,DC,20002.0,1 16TH ST NE,WASHINGTON,WASHINGTON,75999.0,2021-04-08 00:00:00,NaN,900000,NaN,"THURLOW, CHRISTOPHER",NaN,NaN,https://opendata.dc.gov/datasets/integrated-ta...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,DC,20003.0,1 18TH ST SE # 101,WASHINGTON,WASHINGTON,76000.0,2003-04-28 00:00:00,NaN,200399,NaN,"O'HARA, MATTHEW E",NaN,NaN,https://opendata.dc.gov/datasets/integrated-ta...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,DC,20003.0,1 18TH ST SE # 102,WASHINGTON,WASHINGTON,76000.0,2020-11-24 00:00:00,NaN,0,NaN,CRYSTAL L BRIDGEMAN TRUSTEE,NaN,NaN,https://opendata.dc.gov/datasets/integrated-ta...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,DC,20003.0,1 18TH ST SE # 103,WASHINGTON,WASHINGTON,76000.0,2003-01-28 00:00:00,NaN,191050,NaN,"SMITH, GENE",NaN,NaN,https://opendata.dc.gov/datasets/integrated-ta...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# We will be using the info() function to learn more about the data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 162846 entries, 0 to 162845
Data columns (total 43 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   state                     162846 non-null  object
 1   property_zip5             158895 non-null  float64
 2   property_street_address   162846 non-null  object
 3   property_city             162846 non-null  object
 4   property_county           162846 non-null  object
 5   property_id               141273 non-null  float64
 6   sale_datetime             162846 non-null  object
 7   property_type             0 non-null       float64
 8   sale_price                162846 non-null  int64
 9   seller_1_name             0 non-null       float64
 10  buyer_1_name              162846 non-null  object
 11  building_num_units        0 non-null       float64
 12  building_year_built       0 non-null       float64
 13  source_url                162846 non-null  object
 14  book                      0 non-null       float64
 15  page                      0 non-null       float64
 16  transfer_deed_type        0 non-null       float64
 17  property_township         0 non-null       float64
 18  property_lat              0 non-null       float64
 19  property_lon              0 non-null       float64
 20  sale_id                   0 non-null       float64
 21  deed_date                 0 non-null       float64
 22  building_num_stories      0 non-null       float64
 23  building_num_beds         0 non-null       float64
 24  building_num_baths        0 non-null       float64
 25  building_area_sqft        0 non-null       float64
 26  building_assessed_value   0 non-null       float64
 27  building_assessed_date    0 non-null       float64
 28  land_area_acres           0 non-null       float64
 29  land_area_sqft            0 non-null       float64
 30  land_assessed_value       0 non-null       float64
 31  seller_2_name             0 non-null       float64
 32  buyer_2_name              0 non-null       float64
 33  land_assessed_date        0 non-null       float64
 34  seller_1_state            0 non-null       float64
 35  seller_2_state            0 non-null       float64
 36  buyer_1_state             0 non-null       float64
 37  buyer_2_state             0 non-null       float64
 38  total_assessed_value      0 non-null       float64
 39  total_appraised_value     0 non-null       float64
 40  land_appraised_value      0 non-null       float64
 41  building_appraised_value  0 non-null       float64
 42  land_type                 0 non-null       float64
dtypes: float64(35), int64(1), object(7)
memory usage: 53.4+ MB

In [ ]:
# From the info we learned that some columns are complety empty. That means they are useless.
# We will drop those columns from the data frame by using a for loop

# df.columns gives a list of the columns. We will loop through it
for col in df.columns:

  # If the column count is 0 then we will remove the column
  if df[col].count() == 0:
    df.drop(columns = col, inplace = True)

In [ ]:
# Using the unique() function we will see how many unique values appear per column
for col in df.columns:
  print(f"Column Name: {col}")
  print(f"Unique Values: {len(df[col].unique())}")
  print(df[col].unique())
  print()

Column Name: state
Unique Values: 1
['DC']

Column Name: property_zip5
Unique Values: 51
[20002. 20003. 20019. 20001.    nan 20011. 20036. 20017. 20005. 20024.
 20007. 20037. 20012. 20032. 20008. 20020. 20015. 20004. 20010. 20018.
 20009. 20071. 20590. 20542. 20237. 20530. 20548. 20045. 20006. 98109.
 20536. 20852. 20427. 20260. 20059. 20016. 20226. 76310. 20319. 20546.
 22003. 20057. 20472. 20532. 20715. 20052. 20429. 20049. 20421. 20571.
 20463.]

Column Name: property_street_address
Unique Values: 160278
['1 14TH ST NE # 1' '1 16TH ST NE' '1 18TH ST SE # 101' ...
 'WYOMING AVE NW' 'XENIA ST SE' 'YORKTOWN RD NW']

Column Name: property_city
Unique Values: 1
['WASHINGTON']

Column Name: property_county
Unique Values: 1
['WASHINGTON']

Column Name: property_id
Unique Values: 95212
[285723.  75999.  76000. ...  59573.  43135. 258563.]

Column Name: sale_datetime
Unique Values: 7012
['2013-10-24 00:00:00' '2021-04-08 00:00:00' '2003-04-28 00:00:00' ...
 '1995-05-24 00:00:00' '1993-12-30 00:00:00' '1987-02-11 00:00:00']

Column Name: sale_price
Unique Values: 14566
[ 399999  900000  200399 ...    9680   62117 6855000]

Column Name: buyer_1_name
Unique Values: 136864
['RAOL, NEAHA P' 'THURLOW, CHRISTOPHER' "O'HARA, MATTHEW E" ...
 'JP MORGAN CHASE BANK NATIONAL ASSOCIATION' 'KLEIN, MICHAEL R'
 'SNOW, JERRY A']

Column Name: source_url
Unique Values: 1
['https://opendata.dc.gov/datasets/integrated-tax-system-public-extract-property-sales']

In [ ]:
# We are noticing that columns named state, property_city, property_state, source url are all 1 value.
# We will remove them but take note of them

# State = "DC"
# Property_city = "Washington"
# Property_State = "Washington"
# Source_url = "https://opendata.dc.gov/datasets/integrated-tax-system-public-extract-property-sales"

# Remove the column with 1 unique values.
for col in df.columns:

  # if the unique value list has a length of 1, we will drop it
  if len(df[col].unique()) == 1:
    df.drop(columns = col, inplace = True)

In [ ]:
# We will check the dataframe summary again
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 162846 entries, 0 to 162845
Data columns (total 6 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   property_zip5            158895 non-null  float64
 1   property_street_address  162846 non-null  object
 2   property_id              141273 non-null  float64
 3   sale_datetime            162846 non-null  object
 4   sale_price               162846 non-null  int64
 5   buyer_1_name             162846 non-null  object
dtypes: float64(2), int64(1), object(3)
memory usage: 7.5+ MB

In [ ]:
# We notice that the sale_price is in a objject data type
# We will convert it to a datetime value
df['sale_datetime'] = pd.to_datetime(df['sale_datetime'])

# renaming a column to accuretly represent the data with the changes we made
df.rename(columns = {"sale_datetime": "sale_date"}, inplace = True)

# We also noticed that the property zip is a float value. We will get rid of this by turning it into an integer
# We got alot of error and it turned out we needed to get rid of the null values.
# We decided as a team to make the null zipcodes to 0 then convert it to an int
df['property_zip5'] = df['property_zip5'].fillna(0)
df['property_zip5'] = df['property_zip5'].astype(int)

In [ ]:
# Looking at the data 1 more time with
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 162846 entries, 0 to 162845
Data columns (total 6 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   property_zip5            162846 non-null  int64
 1   property_street_address  162846 non-null  object
 2   property_id              141273 non-null  float64
 3   sale_date                162846 non-null  datetime64[ns]
 4   sale_price               162846 non-null  int64
 5   buyer_1_name             162846 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(2), object(2)
memory usage: 7.5+ MB

In [ ]:
# We noticed that property id is the only column with null values.
# We will decide whether to remove the null values or do something else

df[df['property_id'].isnull()]

,property_zip5,property_street_address,property_id,sale_date,sale_price,buyer_1_name
19,20001,1 ALLEY LOT PL NW,NaN,2018-08-23,0,RAHIMIAN FAMILY TRUST
24,20036,1 DUPONT CIR NW,NaN,1980-02-04,0,AMERICAN COUNCIL ON EDUCATION
38,20003,1 M ST SE,NaN,2019-09-09,62760305,1M PROPERTIES LLC
243,20032,10 BRANDYWINE ST SE,NaN,2008-08-18,161700,DISTRICT OF COLUMBIA
253,20001,10 FLORIDA AVE NW,NaN,2014-09-11,1400000,10 FLORIDA AVE DDR LLC
...,...,...,...,...,...,...
162841,20008,WYOMING AVE NW,NaN,2021-08-06,0,ANDREW W BLEEKER TRUSTEE
162842,20032,XENIA ST SE,NaN,2009-09-24,300000,"HEARD, PEGUS"
162843,20012,YORKTOWN RD NW,NaN,2008-10-22,537000,"OLAONIYE-SHOKUNBI, AFOLAKE E"
162844,20012,YORKTOWN RD NW,NaN,2014-09-16,0,"SNOW, JERRY A"
162845,20012,YORKTOWN RD NW,NaN,2019-03-14,1000000,"JARMAN, RONEE A"

In [ ]:
# Looking at the data we see that some sale price is 0
# That is not good
# We have to decide on what to do
df[df['sale_price'] == 0]

,property_zip5,property_street_address,property_id,sale_date,sale_price,buyer_1_name
3,20003,1 18TH ST SE # 102,76000.0,2020-11-24,0,CRYSTAL L BRIDGEMAN TRUSTEE
10,20003,1 18TH ST SE # 301,76000.0,2021-11-23,0,HOLLY ANNE SOLBERG TRUSTEE
12,20003,1 18TH ST SE # 303,76000.0,2019-12-19,0,"PHARES, TAYLOR J"
14,20019,1 47TH ST SE,76002.0,2003-06-27,0,"WALL, BRENDA N"
16,20019,1 54TH ST SE,76005.0,2021-05-11,0,"WEST, RODRICK D"
...,...,...,...,...,...,...
162833,20007,WISCONSIN AVE NW # RETAIL,294964.0,2013-03-29,0,MILLENNIUM GEORGETOWN COMMERCIAL TRUSTEE LLC
162838,20015,WORTHINGTON ST NW,NaN,1997-07-08,0,"HALLAM, MARK C"
162840,20008,WYOMING AVE NW,NaN,2009-03-27,0,GLORIA ANNE DITTUS TRUSTEE
162841,20008,WYOMING AVE NW,NaN,2021-08-06,0,ANDREW W BLEEKER TRUSTEE
162844,20012,YORKTOWN RD NW,NaN,2014-09-16,0,"SNOW, JERRY A"

# Model Planning

# Model Building / Analysis

# Discussion & Results

# References